@import '../../node_modules/normalize-scss/sass/normalize';
@import "../../node_modules/sanitize.scss/sanitize";

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #e7f6ff;
  }

* {
    font-family: 'Inter', sans-serif;
  }

  ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}


  @import './main.module.scss';
  @import '../components/header/header.module.scss';
  @import '../components/header/navbar.module.scss';
  @import '../components/card/card.module.scss';
  @import '../components/hero/hero.module.scss';
  @import '../components/cart/cart.module.scss';
  @import '../components/card/cardInCart.module.scss';
  @import '../components/counter/counter.module.scss';
  @import '../pages/cart-page/cartPage.module.scss';