.wishlist {
  &__empty {
    display: flex;
    flex-direction: row;
    h2 {
      display: block;
      width: 300px;
    }
  }
  &__btn-shop {
    width: 100px;
    height: 55px;
    background: #9dd558;
    border-radius: 18px;
    border: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
      background: lighten(#9dd558, 5%);
    }
    &:active {
      background: darken(#9dd558, 5%);
    }

    position: relative;

    &:disabled {
      animation: button-loading 0.6s ease-in-out infinite;
    }
  }
}
