
.cartItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #F3F3F3;
    border-radius: 20px;
    width: 550px;
    min-height: 125px;
    padding: 0 20px 20px 20px;
    
    &__img {
        height: 70px;
        width: 70px;
        background-size: contain;
        background-position: 0 10px;
        background-repeat: no-repeat;
        margin-right: 20px;
    }
    &__block {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
        &-descr {
            display: block;
            width: 250px;
            height: 50px;
            margin-right: 20px;

        }
        &-title {
            display: block;
            width: 250px;
            margin: 0px;
        }
        &-size{
            display: block;
            margin: 0px;
        }
        
        &-price {
            font-weight: 700;
            font-size: 14px;
            
        }
        &-amount {
            margin-right: 15px;
            transform: translateY(-5px);
        }
        &-remove {
            position: absolute;
            top: -10px;
            transform: translateX(390px);
            opacity: 0.5;
            cursor: pointer;
            transition: opacity 0.2s ease-in-out;
            &:hover {
              opacity: 1;
            }
        }
    }
}

  .counter {
    display: flex;
    align-items: center;
    position: relative;
    width: 110px;

    &__decrement {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: 1px solid #BDBDBD;
        border-radius: 20%;
        cursor: pointer;
        &:before{
            content: '';
            display: block;
            width: 14px;
            height: 2px;
            background-color: #BDBDBD;
        }
    }
    &__increment {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 15%;
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: 1px solid #BDBDBD;
        border-radius: 20%;
        cursor: pointer;
        &:before{
            content: '';
            display: block;
            width: 14px;
            height: 2px;
            background-color: #BDBDBD;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 2px;
            height: 14px;
            background-color: #BDBDBD;
        }
    }
     input {
        width: 30px;
        height: 30px;
        outline: none;
        background: #DBDBDB;
        margin-left: 31px;
        text-align: center;
    }
}