.nav {
    width: 220px;
    &__list {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
    img {
        width: 25px;
        height: 25px;
    }
    span {
        display: block;
    }
    li {
        cursor: pointer;
    }
}