.nav {
    width: 220px;
    &__list {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
    img {
        width: 25px;
        height: 25px;
    }
    span {
        display: block;
    }
    li {
        cursor: pointer;
    }
}
.cart {
    position: relative;
    &__quantity {
        position: absolute;
        width: 15px;
        height: 15px;
        background: red;
        border-radius: 100%;
        top: 20%;
        left: 50%;
        transform: translateX(-30%);
        font-size: 10px;
        text-align: center;
    }
}