.cart__title {
  margin-bottom: 40px;
}

.cart {
  width: 100%;
  position: relative;
  &__items {
    width: 600px;
    margin-left: 0px;
  }
  &__order {
    position: absolute;
    top: 0;
    margin-left: 600px;
    width: 360px;

    ul {
      width: 360px;
      //margin-bottom: 40px !important;
      li {
        display: flex;
        align-items: flex-end;
        margin-bottom: 20px;
      }
      div {
        flex: 1;
        height: 1px;
        border-bottom: 1px dashed #dfdfdf;
        position: relative;
        top: -4px;
        margin: 0 10px;
      }
    }
  }
  &__empty {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  &__status {
    display: block;
    width: 600px;
    font-size: 36px;
  }
  &__shop {
    display: block;
    width: 100px;
    height: 55px;
    background: #9dd558;
    border-radius: 18px;
    border: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
      background: lighten(#9dd558, 5%);
    }
    &:active {
      background: darken(#9dd558, 5%);
    }

    position: relative;

    &:disabled {
      animation: button-loading 0.6s ease-in-out infinite;
    }
  }
  &__btn {
    width: 320px;
    height: 55px;
    margin-left: 40px;
    background: #9dd558;
    border-radius: 18px;
    border: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
      background: lighten(#9dd558, 5%);
    }
    &:active {
      background: darken(#9dd558, 5%);
    }

    position: relative;

    &:disabled {
      animation: button-loading 0.6s ease-in-out infinite;
    }

    &:hover {
      img {
        transform: translateX(5px);
      }
    }

    img {
      position: absolute;
      right: 30px;
      top: 20px;
      transition: transform 0.15s ease-in-out;
    }
  }
}
